<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xwdz.site.mapper.PictureMapper">


    <select id="findAll" resultType="com.xwdz.site.entity.Picture">
        SELECT * FROM picture WHERE ukey = #{key} ORDER by uploadTime DESC
    </select>


    <select id="findById" resultType="com.xwdz.site.entity.Picture">

        SELECT * FROM picture WHERE id = #{id} and ukey = #{key}

    </select>


    <insert id="create" parameterType="com.xwdz.site.entity.Picture">
        INSERT INTO picture(`id`, `path`, `desc`, `name`, `uploadTime`, `address` , `ukey`) VALUES (#{id}, #{path},
        #{desc}, #{name}, #{uploadTime}, #{address}, #{ukey})
    </insert>
</mapper>
